/* src/components/Header.css */
.header {
  background-color: #5e0000;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
}

.nav-links a:hover {
  background-color: #7a0000;
  color: #585858;
  padding: 10px 15px;
  border-radius: 5px;
}
