.bg-color {
  background-color: rgb(104, 25, 84);
}
.grilla {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
}
.fondo-caja {
  background-color: #f27b34;
  border-radius: 10px;
}
.alinear-caja{
  display: flex;
  flex-direction: column;
  align-items: center;
}